{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-async-to-generator",
    "dynamic-import-node",
    "styled-components"
  ]
}
