{
	"extends": "airbnb-base",

	"parser": "babel-eslint",

	"env": {
		"browser": true,
		"node": true
	},

	"globals": {
		"describe": false,
		"it": false,
		"before": false,
		"beforeEach": false,
		"after": false
	},

	"plugins": [
		"react",
		"react-hooks"
	],

  "rules": {
		// Override any settings from the "parent" configuration
		"import/named": 0,
		"max-len": ["error", 120],
		"no-console": "off",
		"no-use-before-define": ["error", "nofunc"],
		"padded-blocks": "off",
		// Code quality
		"class-methods-use-this": ["off"],
		"complexity": ["error", 5],
		"indent": ["error", 4],
		"max-params": ["error", 3],
		"max-statements": ["error", 10],
		"react/jsx-uses-react": 2, // Prevent React to be incorrectly marked as unused
		"react/jsx-uses-vars": 2, // Prevent variables used in JSX to be incorrectly marked as unused
		"react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
		"react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  },

	"settings": {
		"import/resolver": {
			"alias": [
				["@src", "./src/"],
			]
		}
	}
}
